@font-face {
  font-family: 'AgencyFB-Reg';
  src: url('AgencyFB-Reg.svg#AgencyFB-Reg') format('svg'),
       url('AgencyFB-Reg.ttf') format('truetype'),
       url('AgencyFB-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AgencyFB';
  src: url('AgencyFB.eot');
  src: url('AgencyFB.eot?#iefix') format('embedded-opentype'),
       url('AgencyFB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

